{
	"overrides": [
		{
			"files": ["package.json", "**/package.json"],
			"options": { "parser": "json" }
		},
		{ "files": "*.svelte", "options": { "parser": "svelte" } }
	],
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore"
}
